.container-search {
    background-color: rgba(0, 74, 173, 0.5); 
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px; 
    margin: 0 auto; 
    overflow-y: auto; 
}

.container-search::-webkit-scrollbar {
   
    width: 10px;
}

.container-search::-webkit-scrollbar-thumb {
    background-color: #30348C;
    border-radius: 5px;
}

.container-search::-webkit-scrollbar-track {
    background-color: #ffff;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .container-search {
        margin: 20px auto; 
        max-width: 80%; 
    }
}

